.App {
  text-align: center;
}

.BackGround {  
  background-image: url("./images/Background.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.Cover{
  background-color: black;
  color: rgb(173, 173, 173);
  font-family: 'Abel', sans-serif;
  text-align: center;
  font-size: 150%;  
  opacity: 0.7;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5%;
  margin-top: 5%;
  width: 700;
  height: 650;  
  }

.CoverTitle{
  padding-top:7%;
}

.Block{
  background-color: #000000BB;
  width: 700;
  height: 650;  
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5%;
  color: rgb(173, 173, 173);
  flex-Grow: 1;
}
  
.Titles{
        color: rgb(173, 173, 173);
        font-family: 'Abel', sans-serif;
        text-align: center;
        font-size: 250%;           
}

.TexteSkills{
  color: rgb(173, 173, 173);
  font-family: 'Abel', sans-serif;
}

.SkillsTitles{
  text-align: center;
}


.CardBody{
  background-color: black;
}  

.titleReal{
  font-weight: bold;
  color: rgb(51, 102, 177);
}

.buttonColor{
  background-color: #000000BB;  
}

.textButton{
  color:white;
  background-color: transparent;
  border: none
}

.navBar{
  background-color:black;
  border-bottom-style: groove;
  border-color: #444;  
  position: fixed;
  color:black;  
  opacity:0.7;    
  
  }

.button{
  border: none;
  font-size: 1.2em;
  color:rgb(173, 173, 173);
  padding-left: 2em;
  padding-right: 2em; 
}

.button.active {
  text-decoration: underline;
}

.aerer{
  padding-top: 10%
}

.menu
    {
    margin: auto auto;    
    }

@media all and (max-width: 830px)
{
    .menu
    {
    display: none;
    }

    .burger{
      color:white;
      visibility: visible;
    }   
    

    .Block{
      background-color: #000000BB;
      width: 700;
      height: 650;  
      margin-top: 20%;
      margin-bottom: 5%;
      margin-left: 25%;
      margin-right: 25%;
      padding: 5%;
      color: rgb(173, 173, 173);
      flex-Grow: 1;
      text-align: justify;
    }

    .Cover{
      background-color: black;
      color: rgb(173, 173, 173);
      font-family: 'Abel', sans-serif;
      text-align: center;
      font-size: 75%;  
      opacity: 0.7;
      margin-left: 25%;
      margin-right: 25%;
      padding: 5%;
      margin-top: 40%;
      width: 700;
      height: 650;  
      }

      .button{
        border: none;
        font-size: 1.5em;
        color:rgb(173, 173, 173);
        padding-bottom: 1.5em;
        padding-top: 1.5em; 
        display: flex;        
      }

      .TexteSkills{
        color: rgb(173, 173, 173);
        font-family: 'Abel', sans-serif;
        font-size: 70%; 
      }
      
      .SkillsTitles{
        text-align: center;
        font-size: 100%; 
      }

}

.sideBarToggle
{
  visibility: hidden;
}

.burgerMenu{
  flex-direction: column;
  margin: auto auto;   
}
